.employees {
  width: 50vh;
  margin: 0 auto;
}

.ind-employee {
  box-shadow: 1vh 0.7vh #d7d7d7;
  padding: 1vh
 
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  padding-top: 0.7vh;
}

.designation {
  text-align: center;
  font-size: 0.85rem;
  color: #6f6f6f;
}

.about {
  padding: 3vh;
  color: #8a8787;
  font-size: 0.85rem;
}

.doj {
  text-align: center;
  padding-right: 7vh;
  font-size: 0.8rem;
}

.joining-date1 {
  color: #fd1497;
  font-weight: bold;
}

.account {
  width: 7vh;
  height: 7vh;
}

.employee-view a {
  color: rgb(248, 141, 98);
  text-decoration: none;
  position: relative;
  display: block;
}

.employee-view a:hover {
  color:#82d3fc;
}

@media only screen and (max-width: 500px) {
  .employees {
    width: 80vw;
    margin: 0 auto;
  }
}

@media only screen and (orientation: landscape) {
  .employees {
    width: 60vw;
    margin: 0 auto;
  }
}

@media (min-width: 1281px) {
  .employees {
    width: 60vh;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .employees {
    width: 60vh;
    margin: 0 auto;
  }
}