<div class="employee-view">
  <div>
    <a routerLink="/registration">Register Employee</a>
  </div>
  <div class="employees">
      <div *ngFor="let employee of employees" class="ind-employee">
        <div class="header">
          <img class="account" src="../../assets/scalableVectorGraphics/account_circle-24px.svg"/>
          <span class="name">{{ employee.name }}
            <br>
            <span class="designation">{{employee.designation}}</span>
          </span>
          <img (click)="removeEmployee(employee.eId)" class="close" src="../../assets/scalableVectorGraphics/cancel-24px.svg" />
        </div>
        <div class="about">
          <span>{{ employee.about }}</span>
        </div>
        <div class="doj">
          <span class="joining-date1">JOINING DATE: </span>
          <span class="joining-date2">{{ employee.doj | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>
  </div>
</div>