<div class="employee-details">
  <div>
    <a routerLink="/views">View Employees</a>
  </div>
  <div class="employee-form">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="eId" placeholder="Employee Id" required/>
      <input type="text" formControlName="name" placeholder="Name" required/>
      <input type="text" formControlName="designation" placeholder="Position" required/>
      <input type="text" formControlName="about" placeholder="About" required/>
      <input type="date" formControlName="doj" />
      <button class="submit" type="submit" [disabled]="!employeeForm.valid">Submit</button>
    </form>
  </div>
</div>
