.employee-details a {
  color: rgb(248, 141, 98);
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.employee-details a:hover {
  color:#82d3fc;
}

.employee-form {
  display: flex;
  padding: 25px;
}

.employee-form form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.employee-form input {
  margin-top: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.submit {
  margin: 20px;
  padding: 5px;
  background-color:#29aefba8;
}